<h1>Edit</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">

  <br></br>

  <label>Year Completed:</label>

  <br></br>

  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

  <br></br>

  <label>Choose an existing figure:</label>

  <br></br>

  <%Figure.all.each do |figure|%>
    <input type="checkbox" name="landmark[figure_id][]" id="<%="figure_"+figure.id.to_s%>" value="<%=figure.id%>"<%="checked" if @landmark.figure == figure %>><%=figure.name%></input>
  <%end%>

  <br></br>

    <label>and/or, create a new figure:</label>
    <br></br>
    <label>name:</label>
      <input  type="text" name="figure[name]" id="Figure Name"></input>
    <br></br>

  <input type="submit" value="Edit Landmark">
</form>